{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="card">
  <div class="card-body p-5 bg-light">
    <div class="mx-auto" style="width: 600px;">
      
      {% if user.is_authenticated %}
        <div class="display-2" align='center'>{% trans 'Hi' %} {{ user.username }}!</div>
      {% else %}
        <div class="display-2" align='center'>{% trans 'Hi Guest!' %}</div>
        <div class="display-4" align='center'><a href="{% url 'login' %}">{% trans 'Log in' %}</a></div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
