{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container">
  {% if messages %}
    {% for msg in messages %}
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{msg.message}}
      </div>
    {% endfor %}
  {% endif %}
  <h3 align=center>{% trans "User List" %}</h3>
    <div class="row">
      <div class="col-12">
        {% if object_list %}
          <table cellspacing="3" cellpadding="3" align="center" border="1" width="50%">
            <tr>
              <td align=Center>{% trans 'User ID' %}</td>
              <td align=Center>{% trans 'Username' %}</td>
              <td align=Center>{% trans 'Actions' %}</td>
            </tr>
              {% for user in object_list %}
                <tr>
                  <td align=Center>{{ user.id }}</td>
                  <td align=Center>{{ user.username }}</td>
                  <td align=Center><a class="nav-link" href="/users/{{ user.id }}/update/">{% trans 'Edit' %}</a>
                                   <a class="nav-link" href="/users/{{ user.id }}/delete/">{% trans 'Delete' %}</a></td>
                </tr>
              {% endfor %}
          </table>
        {% else %}
          <p>{% trans 'There are no users.' %}</p>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}