{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div class="container-fluid">
  <br>
  <p class="h1" align="Center">{% trans "User List" %}</p></div>
  <br>
  <div class="container">
    <!-- Content here -->

        {% if object_list %}
          {% if messages %}
           {% for msg in messages %}
              <div class="alert alert-info alert-dismissable" align="Center">
               <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
               {{msg.message}}
               </div>
            {% endfor %}
          {% endif %}
        <table class="table table-striped">
          <thead class="thead-dark">
              <tr>
                <th scope="col">{% trans 'User ID' %}</th>
                <th scope="col">{% trans 'Username' %}</th>
                <th scope="col">{% trans 'Actions' %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for user in object_list %}
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td><a class="nav-link" href="/users/{{ user.id }}/update/">{% trans 'Edit' %}</a>
                    <a class="nav-link" href="/users/{{ user.id }}/delete/">{% trans 'Delete' %}</a></td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
          
        {% else %}
          <p>{% trans 'There are no users.' %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}