{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div class="container-fluid">
  <br>
  <h1 class="display-3" align="Center">{% trans "User List" %}</h1>
  <br>
  <div class="container">

        {% if object_list %}
          {% if messages %}
           {% for msg in messages %}
           <div class="alert alert-warning" role="alert" align="Center">
            {{msg.message}}
          </div>
            {% endfor %}
          {% endif %}
        <table class="table table-striped">
          <thead class="thead-dark">
              <tr>
                <th scope="col">{% trans 'User ID' %}</th>
                <th scope="col">{% trans 'Username' %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for user in object_list %}
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
          
        {% else %}
          <p>{% trans 'There are no users.' %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}