{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Login' %}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body p-5 bg-light">
    <div class="mx-auto" style="width: 300px;">
            <form id="login-form" method="post" 
                  action="{% url 'login' %}">
                {% csrf_token %}
                {% include 'includes/bs4_form.html' with form=form %}
                <input type="submit" class="btn btn-primary pull-right" style="width: 300px;" value={% trans "Login" %}>
                <input type="hidden" name="next" value="{{ next }}" >
            </form>
        </div>
    </div>
  </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock content %}